<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="commandList" value="UnknownCommand;jRegister;jSetMember;jSetUser;Login;LogOff;jSetBid;Upload;jDeleteDocument;LocalDownload;jSignContent" />
    <!--текстове пояснення команд-->
    <add key="/PositionForm" value="Учасник  увійшов на сторінку закупівлі за індивідуальним номером {0} на електронному майданчику " />
    <add key="/BidForm" value="Відкрив подання пропозиції " />
    <add key="UnknownCommand" value="Невідома команда" />
    <add key="jRegister" value="Учасник здійснив реєстрацію на електронному майданчику" />
    <add key="jSetMember" value="Учасник вніс дані у вкладку &quot;Учасник&quot; на електронному майданчику" />
    <add key="jSetUser" value="Учасник вніс дані у вкладку &quot;Користувач&quot; на електронному майданчику" />
    <add key="Login" value="Учасник увійшов в особистий профіль на електронному майданчику" />
    <add key="LogOff" value="Учасник вийшов з особистого профілю на електронному майданчику" />
    <add key="jSetBid" value="ВНЕСТИ ВРУЧНУ" />
    <add key="jDeleteBid" value="Видалив пропозицію" />
    <add key="Upload" value="Учасник  завантажив публічний документ до збереженої тендерної пропозиції на закупівлю за індивідуальним номером {0} ({1})" />
    <add key="jDeleteDocument" value="Учасник видалив публічний документ зі збереженої тендерної пропозиції (з чернетки) на закупівлю за індивідуальним номером"/> 
      <!--{0} ({1})" /> -->
    <add key="LocalDownload" value="Вивантажив публічний документ зі збереженої тендерної пропозиції (з чернетки) на закупівлю за індивідуальним номером" />
      <!--{0} ({1})" />-->
    <add key="jSignContent" value="Відкрив вікно накладання підпису" />
    <add key="jSignUpload" value="Наклав підпис" />
    <add key="CreateDraft" value="Створив чернетку" />
    <!--текст в шапках стовпчиків у файлі-->
    <add key="firstColumn" value="IP адреса" />
    <add key="secondColumn" value="Дата входу" />
    <add key="thirdColumn" value="Час входу" />
    <add key="fourthColumn" value="Дія, яку було здійснено учасником" />
    <!--EROR LINES-->
    <add key="noFile" value="Файл не знайдено. Для запуску перетягніть файл на програму." />
    <!--Cистемні значення. не рекомендую змінювати якщо не знаєш що робиш -->
    <add key="timeFormat" value="HH:mm" /> <!--HH:mm:ss-->
    <add key="debug" value="false" />
    
    <add key="emptykey" value="emptyValue" />
    <add key="emptykey" value="emptyValue" />
    <add key="emptykey" value="emptyValue" />
    <add key="emptykey" value="emptyValue" />
    <add key="emptykey" value="emptyValue" />
    <add key="emptykey" value="emptyValue" />
    <add key="" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>